.container {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  /*align-content: center;*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  padding: 1.5em;
}


