.container {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  align-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  padding: 1.2em;
}

.wallet {
  text-align: center;
  padding: 3.5em;
  font-size: 18px;
}


